<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    here you can edit your email
    <!-- <form method="post" action="/edit/<% person._id %>?_method=PATCH">
        <textarea name="editemail" ><%=person.email  %></textarea>
        <button>Edit</button>
    </form> -->
    <form method="POST" action="/edit/<%= person._id %>?_method=PATCH">
        <textarea name="editemail"><%= person.email %></textarea>
        <button type="submit">Edit</button>
    </form>
</body>
</html>